/*!
 * Yamm!
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm
 *
 * https://github.com/geedmo
 */

#layerslider {
width:100%;height:500px;
}

		#layerslider * {
			font-family: Lato, 'Open Sans', sans-serif;
			font-weight: 300;
		}

		#layerslider h1 {
			font-size: 30px;
			color: #eee;
		}

		#layerslider h2 {
top:150px;left:116px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-size:30px;line-height:37px;color:#ffffff;background:#82d10c;border-radius:3px;white-space: nowrap;}

#layerslider img.ls-l {
top:65%;left:50%;white-space: nowrap;
}

#layerslider div.ls-l {
top:190px;left:125px;
}

#layerslider div.ls-l {
font-family:'Indie Flower';font-size:31px;color:#6db509;white-space: nowrap;
}

#layerslider a.ls-l {
top:460px;left:610px;white-space: nowrap;
}
