@font-face {
    font-family: 'alb';
    src: url('f/myriadpro-bold.eot');
    src: url('f/myriadpro-bold.eot') format('embedded-opentype'),
         url('f/myriadpro-bold.woff') format('woff'),
         url('f/myriadpro-bold.ttf') format('truetype'),
         url('f/myriadpro-bold.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'al';
    src: url('f/myriadpro-regular.eot');
    src: url('f/myriadpro-regular.eot') format('embedded-opentype'),
         url('f/myriadpro-regular.woff') format('woff'),
         url('f/myriadpro-regular.ttf') format('truetype'),
         url('f/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

body { font-family: al; }

body #admin-menu { z-index: 160000!important; }

h1, h2, h3, h4, h5, h6, strong { font-family: alb; }

#navbar { 
	background: none repeat scroll 0 0 white; border: 0 none; margin: 0; position: fixed; width: 100%; z-index: 2000; 
    border-radius: 0; padding: 20px 0 10px; }
.stickero#navbar { padding-top: 0; }
.stickero .header { display: none; }

.not-front .main-container { padding-top: 170px!important; }
.front #slideshow_container { padding-top: 170px; }

@media(max-width: 992px) {

.front #slideshow_container,
.not-front .main-container { padding-top: 140px; }

}

@media(max-width: 768px) {

.stickero .header { display: block; }

.not-front .main-container { padding-top: 120px!important; }
.front #slideshow_container { padding-top: 120px; }

}

@media(max-width: 480px) {

.stickero .logo img { width: 70%; }

}

.yag p { color: #004e94; font-size: 16px; font-style: italic; font-weight: 700; line-height: 20px; padding-left: 0; padding-top: 40px; text-indent: 40px; }

.ls-bg { width: 100%!important; }
.page-header { margin: 40px 0 20px!important; }

.footer { background: none repeat scroll 0 0 #3d3c3d; color: #616161; }
.footer a { color: #616161; }

.s1 { float: left; }
.cm { float: right; }

@media(max-width: 992px) {

.cm { float: left; margin-bottom: 25px; width: 100%; }

}

.lateral h2.block-title { background: none repeat scroll 0 0 #1b4481; color: white; font-size: 20px; margin: 0; padding: 10px; }
.lateral .menu li > a,
.lateral .menu li.dropdown > a { border-bottom: 1px solid #ccc; color: black; font-weight: 700; line-height: 1.5; padding: 15px 10px; }
.lateral .menu li > a:hover,
.lateral .menu li > a.active { background: #8CA1BF; }
.lateral .menu li.dropdown .dropdown-menu { border: 0 none; box-shadow: none; display: none; margin: 0; position: relative; width: 100%; }
.lateral .menu li.dropdown .dropdown-menu a { color: #666; padding: 0 15px; line-height: 30px; }

.d .block-title,
.front-block h3,
.np .block-title,
.nn .block-title,
.destacado h2.block-title { 
    border-bottom: 1px solid #7abd56; color: #1b4481; display: inline-block; font-size: 24px; padding-bottom: 5px; font-family: alb; }
.front-block h3,
.np .block-title,
.nn .block-title { margin-top: 20px!important; }
.d a img { border: 1px solid #ccc; height: auto; padding: 5px; width: 100%; }
.d .view-footer { text-align: center; }
.d .view-footer a { background: none repeat scroll 0 0 #7abd56; color: white; display: inline-block; margin: 15px 0 0; padding: 5px 10px; }
.d2 .view-footer a { background: #8CA1BF; }
.d h3 { margin: 0 0 15px; }
.d1 h3 { margin: 15px 0; }
.d1 h3 a { color: #1b4481; display: block; font-size: 18px; line-height: 20px; }
.d2 h3 a { color: black; display: block; font-size: 18px; line-height: 20px; }
.d2 .views-row-1 { padding-bottom: 15px; border-bottom: 1px dashed #7ABD56; margin-bottom: 15px; }

.not-front #block-system-main .field-name-body img,
.not-front #block-system-main .field-name-field-image img { 
    border: 1px solid #ccc; float: left; margin: 0 30px 15px 0; padding: 5px; width: 24%; height: auto; }

.front #page-top .container { border-top: 2px solid #7ABD56; padding-top: 15px; }
.front-block img { width: 100%!important; height: auto!important; border: 1px solid #ccc; padding: 5px; }
.front-block p a { background: #8CA1BF; color: white; display: inline-block; margin: 15px 0 0; padding: 5px 10px; }

.wcm { margin-bottom: 20px; }
.wcm p a { color: black; }

.np .views-row-1 { border-bottom: 1px solid #1B4481; padding-bottom: 10px; margin-bottom: 10px; }
.np .group-left { width: 40%; margin-right: 5%; }
.np .group-right { width: 55%; }
.np img { width: 100%!important; height: auto!important; border: 1px solid #ccc; padding: 5px; }
.np h3,
.nn h3 { margin: 0 0 15px; font-size: 18px; line-height: 20px; }
.np h3 a,
.nn h3 a,
.destacado h2 { color: black; font-size: 18px; line-height: 20px; font-family: al; }
.np .view-footer,
.nn .view-footer { text-align: right; }
.np .view-footer a,
.nn .view-footer a { background: none repeat scroll 0 0 #7abd56; color: white; display: inline-block; margin: 15px 0 0; padding: 5px 10px; }
.nn .view-footer a { background: #8ca1bf; }

.nn { border-top: 2px solid #7abd56; margin-top: 25px; }
.nn .views-row-1 { margin-bottom: 25px; }
.nn .field-name-field-imagen { width: 25%; float: left; margin-right: 5%; }
.nn .field-name-field-imagen img { width: 100%; height: auto; border: 1px solid #ccc; padding: 5px ; background: white; }
.nn .group-f { overflow: hidden; }
.nn .group-f .field-name-node-link,
.d .field-name-node-link { text-align: right; }
.nn .group-f .field-name-node-link a,
.d .field-name-node-link a { background: #8CA1BF; color: white; display: inline-block; margin: 15px 0 0; padding: 5px 10px; }

.destacado { margin-top: 27px; }
.destacado img,
.d img { width: 100%; height: auto; border: 1px solid #ccc; padding: 5px ; background: white; }
.destacado .field-name-field-tipo-producto { text-align: right; }
.destacado .field-name-field-tipo-producto a {
     background: none repeat scroll 0 0 #7abd56; color: white; display: inline-block; margin: 15px 0 0; padding: 5px 10px; } }

.yamm { padding-left: 0; padding-right: 30px; margin-top: 25px; margin-bottom: 10px; }
.yamm .navbar-nav { margin-top: 15px; position: relative!important; width: 100%; }
.yamm .navbar-nav .block-menu { display: inline-block; float: left; width: auto; padding: 0; }
.yamm .lateral .dropdown-toggle { font-style: normal; text-transform: uppercase; padding: 10px 15px; color: black; font-size: 14px; }
.yamm .lateral.open .dropdown-toggle,
.yamm .lateral .dropdown-toggle:hover,
.n2 .yamm .lateral#block-menu-menu-menu-tecsur-nosotros .dropdown-toggle,
.p2 .yamm .lateral#block-menu-menu-menu-tecsur-productos .dropdown-toggle,
.s2 .yamm .lateral#block-menu-menu-menu-tecsur-servicios .dropdown-toggle { background: #1B4481!important; color: white!important; }

#block-search-form { float: left!important; width: 250px; }
#block-menu-menu-menu-contacto { float: right; }
#block-menu-menu-inicial .dropdown-toggle,
#block-menu-menu-menu-noticias .dropdown-toggle,
#block-menu-menu-menu-contacto .dropdown-toggle,
#block-menu-menu-menu-proyectos .dropdown-toggle,
#block-search-form .dropdown-toggle { display: none; }
#block-menu-menu-inicial .dropdown-menu,
#block-menu-menu-menu-noticias .dropdown-menu,
#block-menu-menu-menu-contacto .dropdown-menu,
#block-menu-menu-menu-proyectos .dropdown-menu,
#block-search-form .dropdown-menu { 
	display: block; position: relative; padding: 0px; border: 0px none; box-shadow: none; top: auto; right: auto; min-width: 0px; }
#block-menu-menu-inicial .yamm-content,
#block-menu-menu-menu-contacto .yamm-content,
#block-menu-menu-menu-noticias .yamm-content,
#block-menu-menu-menu-proyectos .yamm-content  { padding: 0px; width: auto; } 
#block-menu-menu-inicial .yamm-content a,
#block-menu-menu-menu-contacto .yamm-content a,
#block-menu-menu-menu-noticias .yamm-content a,
#block-menu-menu-menu-proyectos .yamm-content a { font-style: normal; text-transform: uppercase; padding: 10px 15px; color: black; font-size: 14px; }
#block-menu-menu-inicial .yamm-content a:hover,
#block-menu-menu-menu-contacto .yamm-content a:hover,
#block-menu-menu-menu-noticias .yamm-content a:hover,
#block-menu-menu-menu-proyectos .yamm-content a:hover,
#block-menu-menu-inicial .yamm-content a.active,
#block-menu-menu-menu-contacto .yamm-content a.active,
#block-menu-menu-menu-noticias .yamm-content a.active,
#block-menu-menu-menu-proyectos .yamm-content a.active { background: #1B4481; color: white; }

#block-menu-menu-menu-contacto { position: absolute; right: 0px; }

.yamm .dropdown-menu.lateral { padding: 5px 0; width: 300px; top: 145px; }
.yamm .dropdown .dropdown-menu { top: 155px; }
.yamm .yamm-content { padding: 0!important; }
.yamm .lateral .menu li > a, 
.yamm .lateral .menu li.dropdown > a { padding: 10px 15px; }

#block-search-form .yamm-content { padding: 0 20px; }
#block-search-form input { border-radius: 0px; }
#block-search-form .btn-default { background-color: #8CA1BF; border-color: #8CA1BF; color: #fff; border-radius: 0px; line-height: 1.42857; height: 34px; }

.stickero #block-menu-menu-inicial .yamm-content li#dhtml_menu-866 a { 
    background: url(i/logos.png) center 2px no-repeat; width: 120px; text-indent: -9999em; }
.stickero .yamm .navbar-nav { margin-left: 0; width: 100%; }
.stickero .yamm .dropdown .dropdown-menu { top: 65px; }

@media(max-width: 992px) {

.yamm,
.yag { display: none; }

.stickero #navbar { display: none; }

}

.foo h2.block-title,
.sigue h2.block-title,
.foo2 p a { color: #ccc; font-size: 18px; font-weight: bolder; margin-top: 0; }
.sigue .menu { padding: 10px; }
.sigue .menu li { float: left; height: 45px; margin-right: 5px; width: 40px; height: 40px; margin-right: 5px; }
.sigue .menu li a { padding: 0; text-indent: -9999em; display: block; background: url(i/ma-ico.png) center no-repeat!important; }
.sigue .menu li#dhtml_menu-783 a { background: url(i/fb-ico.png) center no-repeat!important; }
.sigue .menu li#dhtml_menu-785 a { background: url(i/gp-ico.png) center no-repeat!important; }
.sigue .menu li#dhtml_menu-784 a { background: url(i/tw-ico.png) center no-repeat!important; }
.sigue .menu li a:hover { opacity: .7; }

.adap { display: none; }
.adap button { width: 60px; height: 60px!important; background: url(i/menu.jpg) center no-repeat!important; }
.adap .dropdown-menu { border: 0 none; box-shadow: none; display: none; position: relative; width: 100%; }
.adap.open .dropdown-menu { display: block; }
.adap .dropdown-menu .menu li a { display: block; text-align: center; color: black; text-transform: uppercase; },
.adap .dropdown-menu .menu li a:hover { background: #8CA1BF; }

@media(max-width: 992px) {

.adap { display: block; }

}

@media(max-width: 768px) {

.foo2 { margin: 20px 0; }

}

.page-productos #block-system-main .views-row h3 a,
.page-servicios.s2 #block-system-main .views-row h2 a,
.page-taxonomy-term-1 #block-system-main .node-teaser h2 a { color: #1B4481; }
.page-productos #block-system-main .views-row,
.page-taxonomy-term-1 #block-system-main .node-teaser,
.page-servicios.s2 #block-system-main .views-row { border-bottom: 1px dashed #8CA1BF; margin-bottom: 15px; padding-bottom: 15px; }

.c2 #block-system-main .views-row h3 a { color: black; font-size: 18px; line-height: 22px; }
.c2 #block-system-main .views-row .field-name-field-imagen img { width: 100%; height: auto; border: 1px solid #ccc; padding: 5px; }

#layerslider { height: 300px!important; }

#layerslider h2 { display: none!important; }
#layerslider div.ls-l {
    color: white!important; font-family: inherit!important; font-size: 16px!important; top: 60px!important; left: 215px!important;
     white-space: nowrap; background: rgba(122,189,86, .75)!important; padding: 25px!important; }
#layerslider a.ls-l { 
	color: white!important; font-family: inherit!important; font-size: 16px!important; top: 180px!important; left: 240px!important; 
    white-space: nowrap; background: rgba(122,189,86, .75)!important; padding: 15px!important; }
#layerslider div.ls-l:before,
#layerslider a.ls-l:before { 
	background: rgba(122,189,86, .5); top: -20px; left: -20px; right: 0; bottom: 0; content: ''; 
	display: block; position: absolute; z-index: -1; }
#layerslider a.ls-l:before { left: 0; right: -20px; top: 0; bottom: -20px; }

#layerslider div.ls-l h3 { margin: 0 0 10px; font-size: 24px; }
#layerslider div.ls-l p { margin: 0; font-size: 16px; }
#layerslider img.ls-l { top: 10%!important; width: 300px!important; height: auto!important; left: 60%!important; }

@media(max-width: 768px) {

#layerslider div.ls-l {
    color: white!important; font-family: inherit!important; font-size: 14px!important; top: 50px!important; left: 10px!important;
     white-space: nowrap; background: rgba(122,189,86, .75)!important; padding: 15px!important; opacity: 1!important }
#layerslider a.ls-l { 
	color: white!important; font-family: inherit!important; font-size: 13px!important; top: 120px!important; left: 20px!important; 
    white-space: nowrap; background: rgba(122,189,86, .75)!important; padding: 10px!important; opacity: 1!important }
#layerslider div.ls-l h3 { margin: 0 0 5px; font-size: 20px; }
#layerslider div.ls-l p { margin: 0; font-size: 14px; }
#layerslider img.ls-l { top: 25%!important; right: 10px!important; left: auto!important; }
#layerslider .ls-bg { width: 100%!important; height: auto!important; }

.ls-nexttiles { display: none!important; }

}

.modal { z-index: 20000; }
.modal .field-name-modal-close { position: absolute; z-index: 2; right: 0px; }
.modal .field-name-modal-close button { 
	background: none repeat scroll 0 0 black; border-radius: 0 5px 0 0; color: white; font-size: 32px; height: 32px; opacity: 1; width: 32px; }
.modal .field-name-field-imagen { text-align: center; margin-top: 25px; }
.modal .field-name-field-imagen img { height: auto; width: 60%; }


.page-noticias .view-noticias .views-row,
.page-proyectos .view-proyecto .views-row { border-bottom: 2px solid #1B4481; padding-bottom: 15px; margin-bottom: 20px; }
.page-noticias .view-noticias h3 a,
.page-proyectos .view-proyecto h3 a { color: black; font-size: 24px; line-height: 28px; font-family: al; }
.node-type-noticias .field-name-field-imagen,
.node-type-proyectos .field-name-field-imagen { margin-right: 50px; }
.node-type-noticias .field-name-field-imagen img,
.node-type-proyectos .field-name-field-imagen img { width: 100%; height: auto; padding: 10px; border: 1px solid #ccc; }

@media(max-width: 768px) {

.node-type-noticias .group-left,
.node-type-proyectos .group-left { width: 100%; float: left; margin-bottom: 25px; }
.node-type-noticias .field-name-field-imagen,
.node-type-proyectos .field-name-field-imagen { margin-right: 0; }
.node-type-noticias .group-right,
.node-type-proyectos .group-right { width: 100%; float: left; }

}

.page-noticias .field-name-field-imagen,
.page-proyectos .field-name-field-imagen { float: left; margin: 0 10px 0 0; }

.webform-client-form input[type=text], 
.webform-client-form input[type=password], 
.webform-client-form input[type=email], 
.webform-client-form input[type=number], 
.webform-client-form select, 
textarea.form-control { 
	width: 100%; border: 1px solid #ccc; padding: 5px; border-radius: 5px; margin-bottom: 10px; }
.webform-client-form button[type=submit] { float: right; margin-top: 25px; }
.webform-datepicker select { float: left; margin-right: 1%; width: 30%; }
.resizable-textarea .grippie { display: none; }

/* ADICIONADOS */

#layerslider .ls-inner { background: #8ca1bf!important; }

.node-type-productos .group-left { width: 40%; margin-right: 5%; }
.node-type-productos .group-right { float: right; }
.node-type-productos .group-footer { margin-top: 20px; float: left; width: 100%; }
.cloud-zoom-container a#cloud-zoom img { width: 100%; height: auto; }
.clouder { float: left; width: 100%; overflow-x: scroll; margin-top: 10px; }
.clouder .cloud-zoom-gallery-thumbs { width: 1000px; }
.clouder .cloud-zoom-gallery-thumbs .cloud-zoom-gallery  { margin-right: 10px; }