body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top { padding-top: 52px !important; }

body { padding: 0; overflow-x: hidden; }

.navbar .btn { 
  background: none repeat scroll 0 0 #e1e1e1; border: 0 none; border-radius: 0; float: right; height: 52px; line-height: 52px; padding: 0 15px; }

.header { position: relative; }

@media(max-width: 769px) {

#block-system-user-menu { top: 0; }

}

.front .main-container { padding: 60px 0; }
.not-front .main-container { border-top: 2px solid #7ABD56; padding: 20px 0 100px; }

#luxe-login { float: left; width: 45%; }
#luxe-login-register { float: right; width: 45%; }

@media(max-width: 769px) {

#luxe-login { float: left; width: 100%; }
#luxe-login-register { float: left; width: 100%; }

}